@import "tailwindcss";
@source "../node_modules/preline/dist/*.js";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family-primary: "Raleway", sans-serif;
  --font-family-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-family-primary);
  --font-mono: var(--font-family-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-primary);
  font-optical-sizing: auto;
}

html {
  font-family: var(--font-family-primary);
}

.font-primary {
  font-family: var(--font-family-primary);
  font-optical-sizing: auto;
}

.raleway-template {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
